/* globals.css */
body {
  margin: 0;
  background: #0b141a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* DESKTOP */

@media (min-width: 768px) {
  .chat-layout {
    flex-direction: row;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  .chat-layout {
    flex-direction: column;
  }
}
